* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}


/* general styles */

.button {
  outline: none;
  border-radius: 0;
  border-image: none;
  padding: .5rem 1rem;
  box-shadow: 1px 1px 0.1px 0 #555;
  cursor: pointer;
}

.page {
  display: flex;
  padding: 5rem 0;
  max-width: 900px;
  margin: auto;
  align-items: center;
  justify-content: center;
}

/* mobile setting */
@media (max-width: 900px) {
  .page {
    flex-direction: column;
  }
  .page .factions-section {
    order: 2;
    border-right: none;
    border-top: 1px solid #555;
  }
}

.page-section {

}

/* factions container */

.factions-section {
  flex: 6;
  border-right: 1px solid #555;
}

.factions-section .faction-meter {
  width: 30%;
  padding: 2.25rem;
  display: inline-block;
}

.factions-section .faction-meter .faction-meter-mercury {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: .5s height ease;
}

.factions-section .faction-meter .faction-meter-content {
  width: 100%;
  height: 100px;
  position: relative;
  border: .5px solid #ccc;
}

.factions-section .faction-meter .faction-meter-content p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}


/* questions-container */

.question-section {
  flex: 3;
  padding: 2rem;
}

.drag-avatar {
  margin-top: 5rem;
  width: 50px;
  cursor: pointer;
}

.answer-zones-wrapper {
  text-align: center;
  margin-top: 5rem;
}

.answer-zone {
  display: inline-block;
  width: 100px;
  height: 100px;
  padding: 1rem;
  text-align: center;
  border: .5px dotted #ccc;
  vertical-align: top;
}

.answer-zone.left {
  margin-right: 30px;
}

.answer-zone.right {
  margin-left: 30px;
}

.answer-zone p {
  margin: 0;
}

/* picture styling */

.camera-wrapper {
  margin-top: 3rem;
}

.shaded-portrait {
  position: fixed;
  border: 1px solid #222;
  box-shadow: 4px 4px 1px 0 #555;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}